 html,
 body {
   height: 100%;
 }


 .sidebar_flex_column {
   display: flex;
   flex-direction: column;
   width: 20vw;
   height: 100vh;
   justify-content: space-between;
   border-right: 3px solid gray;
 }

 .sidebar_c_name {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 .sidebar-name {
   font-size: 3vw;
 }

 .sidebar-role {
   font-size: 1.5vw;
 }

 .sidebar-headings {
   font-size: 2vw;
   padding-bottom: 5px;
 }

 .sidebar_pref {
   display: flex;
   flex-direction: column;
   align-items: center;
   list-style-type: none;
   border: 3px solid #008cba;
   margin-left: 2vw;
   margin-right: 2vw;
 }

 .sidebar_pref:hover {
  cursor: pointer;
  background-color: #008cba;
  color: white;
 }

 .sidebar-saldo-text {
  font-size: 4vh;
 }

 .sidebar-preferences-list > li {
   font-size: 1.5vw;
   text-align: center;
 }

 .sidebar_bal {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
 }

 .sidebar_bal_head_button {
   display: flex;
   justify-content: center;
   flex-direction: row;
 }

 .sidebar_bal_head_button_plus {
   font-size: 4vh;
   margin-left: 20px;
   border: solid;
   border-color: #008cba;
   border-width: thick;
   height: 4vh;
   width: 4vh;
   line-height: 2vh;
 }

 .sidebar_bal_head_button_plus:hover {
  cursor: pointer;
  color: white;
  background-color: #008cba;
 }

 .sidebar_lang {
   display: flex;
   justify-content: center;
 }

.language-setting {
  background-color: transparent;
}

 .sidebar_overlay_bal {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   justify-content: center;
   align-items: center;
 }

 .sidebar_popup_bal {
   background-color: #fff;
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   z-index: 1;
 }

 .sidebar_popup_bal_flex {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: Arial, Helvetica, sans-serif;
 }

 .sidebar_popup_bal_flex_choices {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 35px;
 }

 .sidebar_overlay_pref {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   justify-content: center;
   align-items: center;
 }

 .sidebar_popup_pref {
   background-color: #fff;
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
 }

 .sidebar_popup_bal_flex_button {
   height: 15vh;
   width: 20vh;
   font-size: 35px;
   border: 2px solid black;
   background-color: transparent;
 }

 .sidebar_popup_bal_flex_button:hover, .sidebar_popup_bal_flex_button_x:hover {
  background-color: lightgray;
  cursor: pointer;
 }

 .sidebar_popup_bal_flex_button_x {
   height: 7vh;
   width: 7vh;
   font-size: 35px;
   align-items: right;
   background-color: transparent;
 }

 .sidebar_popup_pref_preview {
   font-size: 30px;
   padding: 20px;
   border-spacing: 50px;
   width: 50vw;
   height: 50vh;
   display: flex;
   align-items: center;
 }

 .sidebar-popup-pref-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
 }

 .sidebar-popup-pref-list > li {
  width: 10vw;
  display: flex;
  justify-content: center;
  padding: 1vh;
 }

 .sidebar-popup-pref-list > li input[type="checkbox"] {
  margin-right: 10px;
  font-size: 300%;
 }

 .saldo {
  font-size: 2vw;
 }

 .sidebar-heading {
  display: flex;
  justify-content: space-evenly;
}

.log-out-icon {
  margin-top: 3vh;
  width: 2vw;
  height: 2vw;
  background-color: #ed2939cc;
  padding: 10px;
  border-radius: 15px;
}

.log-out-icon:hover {
  background-color: #ed2939ff;
}

.filter-list-button {
  font-size: 1vw;
  width: auto;
  margin-left: 2vw;
  padding: 5px 25px;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  background-color: white;
  border: 2px solid #008cba;
  box-sizing: border-box;
}

.filter-list-button:hover {
  background-color: rgb(38, 189, 239);
  border-color: rgb(38, 189, 239);
  color: white;
}

.active-filters {
  width: 15vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

h4 {
  display: flex;
  justify-content: center;
}

.filter-selecion-list {
  font-size: 0.9vw;

}